
<div class="row">
    <div class="small-12 medium-6 columns">
        <h1>Blog add</h1>
    </div>
</div>

<form>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <label>Post Title</label>
            <input type="text" [(ngModel)]="postTitle" name="postTitle" required #psTitle="ngModel"/>
            <!--<div [hidden]="#psTitle"></div>-->
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <label>Post Content</label>
            <textarea rows="15" id="content" [(ngModel)]="content" name="content" required #psContent="ngModel">
            </textarea>
        </div>
        <div class="small-12 medium-6 columns">
            <input type="file" (change)="fileLoad($event)" /><br />
            <img *ngIf="imageSRC" [src]="imageSRC" alt="Image preview" />
        </div>
    </div>
    <div class="row align-center">
        <div class="small-12 columns">
            <div class="expanded button-group">
                <button class="success button" type="button" [disabled]="!psTitle.valid || !psContent.valid"
                        (click)="createPost()">Create Post</button>
                <button class="cancel button" type="button" (click)="cancel()">Return</button>
            </div>

        </div>

    </div>
</form>